<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.helpaigrow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.helpaigrow.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.helpaigrow.AuthActivity"
            android:autoLink="web"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.helpaigrow.ConsentFormActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.helpaigrow.QuestionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.helpaigrow.ExpOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.helpaigrow.ExpTwoGroupOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.helpaigrow.ExpTwoGroupTwoActivity"
            android:screenOrientation="portrait" />

        <service android:name="com.helpaigrow.SpeechService" />
        <service android:name="com.helpaigrow.ResponseService" />

        <activity android:name="com.helpaigrow.ReportProblemActivity"
            android:autoLink="web"
            android:screenOrientation="portrait" />
    </application>

</manifest>