<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.speech">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AuthActivity"
            android:autoLink="web"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConsentFormActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuestionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExpOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExpTwoGroupOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExpTwoGroupTwoActivity"
            android:screenOrientation="portrait" />

        <service android:name=".SpeechService" />
        <service android:name=".ResponseService" />

        <activity android:name=".ReportProblemActivity"
            android:autoLink="web"
            android:screenOrientation="portrait" />
    </application>

</manifest>